@import "./theme.scss";

// >>>		XXXXXXXXXXXXXX											   <<<

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $colWhite;
	// padding-top: 60px !important; // * pour la navbar fixe
}

#container-global {
	background-color: $colSecondary;
	padding: 3px;
	min-height: 100vh;
}

// >>>		XXXXXXXXXXXXXX											   <<<

$sectionGap: 5px;

.zPage {
	background-color: $colLight;
	padding: 10px;
	min-height: 100%;
	color: $colDark;

	.zPageHeader {
		background-color: $colWhite;
		padding: 10px;
		margin: $sectionGap;
		h1 {
			color: $colPrimary;
			small {
				font-size: 0.7em;
			}
		}
	}
	.zPageContent {
		//background-color: $colInfo;
		//margin: -5px;
		padding: 0px;

		.zSection {
			//background-color: $colWarning;
			margin: 0;
			padding: 0px;

			.zSectionInner {
				background-color: $colWhite;
				margin: $sectionGap;
				padding: 5px;
				//padding: -5px;

				h2 {
					color: $colPrimary;
					font-size: 1.5em;
					font-weight: bold;
				}
			}
		}
	}
}

// >>>		XXXXXXXXXXXXXX											   <<<

.btn {
	cursor: pointer;
}

.btn-xs {
	padding: 0.1em !important;
	font-size: 0.8em !important;
	font-weight: inherit !important;
}
.row {
	margin: 2px;
	padding: 0px;
}

.table-xs {
	td {
		padding: 0px !important;
	}
}

.clickText {
	color: $primary;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

// >>>		XXXXXXXXXXXXXX											   <<<

.zHelp,
.zTodo {
	// background-color: $colWarning;
	font-size: 0.8em;
	margin: 0;
	padding: 0px;
	h2 {
		font-size: 1.3em;
		margin-left: 10px;
	}
	h3 {
		font-size: 1.2em;
		margin-left: 15px;
	}
	h4 {
		font-size: 1.1em;
		margin-left: 20px;
	}
	p {
		margin-left: 10px;
	}

	.zHelpInner,
	.zTodoInner {
		padding: 5px;
		margin: $sectionGap;
	}
}

.zHelp > .zHelpInner {
	background-color: rgb(230, 255, 230);
	border: 1px solid green;
	h2,
	h3,
	h4 {
		color: green;
	}
	p {
	}
}

.zTodo > .zTodoInner {
	background-color: rgb(250, 230, 230);
	border: 1px solid $colDanger;
	h2,
	h3,
	h4 {
		color: $colDanger;
	}
	p {
	}
}

// >>>		XXXXXXXXXXXXXX											   <<<

.page-auth {
	margin: auto;
	margin-top: 50vh;
	transform: translateY(-50%);
	//background-color: green;
	background-color: $colWhite !important;
	text-align: center;
	padding: 0 !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;

	#page-header {
		//background-color: cyan;
		padding: 10px;
		h1,
		h2 {
			color: $colPrimary;
		}
	}

	form {
		padding: 0 !important;
		input {
			margin-top: 5px;
			width: 100% !important;
		}
	}

	@media all and (min-width: 320px) {
		padding: 0;
		max-width: 320px;
		h1,
		h2 {
			font-size: 1.5em;
		}
		#page-auth-app-logo {
			width: 150px;
		}
	}

	@media all and (max-width: 319px) {
		padding: 10px 0;
		h1,
		h2 {
			font-size: 1.1em;
		}
		#page-auth-app-logo {
			width: 60%;
		}
	}
}
