/*
 *	change Bootstrap colors
 *	https://huemint.com/bootstrap-basic/
 *
 */
$theme-colors: (
	// "muted": #6c757d,
	"light": #f7f1b4,
	"white": #ffffff,
	"dark": #000528,
	"primary": #e60074,
	"secondary": #593d87,
	"info": #30a8e5,
	"success": #00a674,
	"warning": #d3d100,
	"danger": #e04100,
	"custom": #00ff00
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: lime;
}

#container-global {
	background-color: white;
	padding: 0;
}

.zPage {
	background-color: lime;
	padding: 10px;

	.zPageHeader {
		background-color: cyan;
		padding: 10px;
		h1 {
			color: red;
		}
	}
	.zPageContent {
		background-color: #aaaaaa;
		padding: 10px;
	}
}

.btn {
	cursor: pointer;
}

.btn-xs {
	padding: 0.1em !important;
	font-size: 0.8em !important;
}
.row {
	margin: 0px;
	// padding: 0px;
}
