// >>>		BOOTSTRAP THEME											   <<<

/*
 *	change Bootstrap colors
 *	https://huemint.com/bootstrap-basic/
 *
 */
$colMuted: #6c757d;
$colLight: #f7f1b4;
$colWhite: #ffffff;
$colDark: #000528;
$colPrimary: #e60074;
$colSecondary: #593d87;
$colInfo: #30a8e5;
$colSuccess: #00a674;
$colWarning: #d3d100;
$colDanger: #e04100;
$colCustom: #00ff00;

$theme-colors: (
	"muted": $colMuted,
	"light": $colLight,
	"white": $colWhite,
	"dark": $colDark,
	"primary": $colPrimary,
	"secondary": $colSecondary,
	"info": $colInfo,
	"success": $colSuccess,
	"warning": $colWarning,
	"danger": $colDanger,
	"custom": $colCustom,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// >>>		XXXXXXXXXXXXXX											   <<<

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: lime;
}

#container-global {
	background-color: white;
	padding: 0;
}

// >>>		XXXXXXXXXXXXXX											   <<<

.zPage {
	background-color: lime;
	padding: 10px;

	.zPageHeader {
		background-color: cyan;
		padding: 10px;
		h1 {
			color: red;
		}
	}
	.zPageContent {
		background-color: #aaaaaa;
		padding: 10px;
	}
}

// >>>		XXXXXXXXXXXXXX											   <<<
.btn {
	cursor: pointer;
}

.btn-xs {
	padding: 0.1em !important;
	font-size: 0.8em !important;
}
.row {
	margin: 0px;
	// padding: 0px;
}

// >>>		XXXXXXXXXXXXXX											   <<<
