@import "./theme.scss";

// >>>		XXXXXXXXXXXXXX											   <<<

.umlContent {
	background-color: #bbbbbb;
	position: absolute;
	flex-direction: row;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	margin: 0;
	padding: 5px;
	//overflow-y: scroll;

	.umlEntity {
		margin: 0;
		padding: 5px;
		font-size: 0.8em;
		background-color: white;
		position: absolute;
		//max-width: 400px !important;

		.umlEntityInner {
			padding: 5px;
			margin: 0px;
			border: 1px solid $colPrimary;

			h2 {
				color: $colSecondary;
				margin-bottom: 20px;
			}

			.umlAttribut {
				background-color: $colWhite;
				padding: 1px;

				&.wip {
					background-color: #cccccc;
				}

				td {
					padding-right: 2px;
				}
				.name {
					color: $colPrimary;
					font-size: 1em;
					font-weight: bold;
					//min-width: 100px;
				}
				.tipe {
					color: $colSuccess;
					//	min-width: 80px;
				}
				.unique {
					color: $colInfo;
					padding-right: 2px;
				}
				.nullable {
					color: $colDanger;
					padding-right: 2px;
				}
				.feminin {
					color: fuchsia;
				}
				.badge-pk {
					background-color: $colSecondary;
					color: white;
					font-size: 0.8em;
					padding: 1px;
					padding-left: 3px;
					padding-right: 3px;
				}
				.badge-error-tipe {
					background-color: $colDanger;
					color: white;
					font-size: 0.8em;
					padding: 1px;
					padding-left: 3px;
					padding-right: 3px;
				}
			}
			.umlAttributExtra {
				&.wip {
					background-color: #cccccc;
				}
				.infos {
					color: $colInfo;
				}
				.description {
					color: $colSecondary;
				}
				.targetEntite {
					color: $colSuccess;
				}
				.inversedBy {
					color: $colSuccess;
				}
			}
		}
	}
}

// >>>		XXXXXXXXXXXXXX											   <<<
