@import "./theme.scss";

// >>>		XXXXXXXXXXXXXX											   <<<

.umlContent {
	//background-color: $colSuccess;
	//background-color: $colSuccess;
	position: relative;
	//display: inline-flexbox;
	flex-direction: row;
	height: 2000px;
	width: 100%;
	margin: 0;
	/*
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100vh;
	*/
	//padding: 5px;
	//margin: 5px;

	.handle {
		//background-color: yellow;
		max-width: 400px !important;
		//padding: 5px;
		position: absolute;
	}

	.umlEntity {
		margin: 0;
		padding: 5px;
		font-size: 0.8em;
		.umlEntityInner {
			//background-color: $colPrimary;
			border: 1px solid $colPrimary;
			padding: 5px;
			margin: 0px;
			h2 {
				color: $colSecondary;
			}

			.umlAttribut {
				background-color: $colWhite;
				padding: 1px;
				//margin: 5px;

				&.wip {
					background-color: $colMuted;
				}

				border-bottom: 1px solid $colSecondary;
				div {
					margin-right: 2px;
					display: inline-block;
					//border: 1px solid black;
				}
				.name {
					color: $colPrimary;
					//font-weight: bold;
					min-width: 100px;
				}
				.tipe {
					color: $colSuccess;
					min-width: 80px;
				}
				.unique {
					color: $colInfo;
				}
				.nullable {
					color: $colDanger;
				}
				.infos {
					background-color: $colInfo;
				}
				.description {
					background-color: $colWarning;
				}
				.badge-pk {
					background-color: $colSecondary;
					color: white;
					font-size: 0.8em;
					padding: 1px;
					padding-left: 3px;
					padding-right: 3px;
				}
			}
		}
	}
}

// >>>		XXXXXXXXXXXXXX											   <<<
